@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --color-primary: #0ea5e9;
  --color-primary-dark: #0284c7;
}

body {
  @apply bg-slate-50 text-slate-900 transition-colors duration-200;
  @apply dark:bg-slate-900 dark:text-slate-100;
}

@media print {
  body * {
    visibility: hidden;
  }
  #printable-id-card, #printable-id-card * {
    visibility: visible;
  }
  #printable-id-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
